:root {
  --primary-color: #fbfada;
  --dark-color: black;
  --secondary-color: rgb(67, 104, 80);
}

.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
}

form > div {
  display: flex;
  flex-direction: column;
}

form > div > input {
  padding: 5px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid gray;
}

form > div > label {
  margin-bottom: 5px;
}

form > button {
  padding: 10px;
  font-size: 18px;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 10px;
  color: white;
}

button {
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid gray;
}

th,
td {
  padding: 10px;
}
