* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

:root {
  --primary-color: #fbfada;
  --dark-color: black;
  --secondary-color: rgb(67, 104, 80);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.main {
  background-color: var(--primary-color);
}
