:root {
  --primary-color: #fbfada;
  --dark-color: black;
  --secondary-color: rgb(67, 104, 80);
}

.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--secondary-color);
}

.details-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
  background-color: var(--secondary-color);
  color: white;
}
