/* @import url("https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #fbfada;
  --dark-color: black;
  --secondary-color: rgb(67, 104, 80);
}

* {
  margin: 0;
  padding: 0;
}
body {
  /* background-color: var(--primary-bg-color); */
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-around {
  justify-content: space-around;
}
.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.gap-15 {
  gap: 15px;
}
.gap-20 {
  gap: 20px;
}
.gap-50 {
  gap: 50px;
}
.p-50 {
  padding: 50px;
}
.wrap {
  flex-wrap: wrap;
}
.navbar {
  background-color: white;
}

.navbar img {
  height: 100px;
}

.navbar a {
  color: var(--dark-color);
  text-decoration: none;
  font-size: 20px;
  font-style: italic;
}
/* 
.navbar h3 {
  font-family: "Playwrite CU", cursive;
  font-optical-sizing: auto;
  font-style: normal;
} */

.product-card {
  background-color: var(--primary-color);
  width: 200px;
  text-align: center;
  padding: 15px 5px;
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
}
