/* @import url("https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #fbfada;
  --dark-color: black;
  --secondary-color: rgb(67, 104, 80);
}

* {
  margin: 0;
  padding: 0;
}
body {
  /* background-color: var(--primary-bg-color); */
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-around {
  justify-content: space-around;
}
.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.gap-15 {
  gap: 15px;
}
.gap-20 {
  gap: 20px;
}
.gap-50 {
  gap: 50px;
}
.p-50 {
  padding: 50px;
}
.wrap {
  flex-wrap: wrap;
}
.navbar {
  background-color: white;
}

.navbar img {
  height: 130px;
}

.navbar a {
  color: var(--dark-color);
  text-decoration: none;
  font-size: 20px;
  font-style: italic;
}
/* 
.navbar h3 {
  font-family: "Playwrite CU", cursive;
  font-optical-sizing: auto;
  font-style: normal;
} */

.product-card {
  background-color: var(--primary-color);
  width: 200px;
  text-align: center;
  padding: 15px 5px;
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
}

.w-150 {
  width: 150px;
}

.w-300 {
  width: 300px;
}

.h-40 {
  height: 40px;
}

.border-bottom {
  border-bottom: 2px solid var(--secondary-color);
}

.filters {
  padding-top: 50px;
  margin-left: 20px;
}

.colors {
  padding-left: 10px;
}

.badge {
  border-radius: 10px;
  width: 60px;
  background-color: var(--secondary-color);
  padding: 10px 5px;
}

.w-100 {
  width: 100px;
}

.color-filter {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.multicolor {
  background-image: url(https://previews.123rf.com/images/dyxond/dyxond1611/dyxond161100023/66393202-abstract-colorful-pattern-rainbow-color-spectrum-multicolor-wavy-texture-background-seamless.jpg);
}

.add-to-cart {
  background-color: var(--secondary-color);
  color: white;
  width: 120px;
  padding: 5px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

#admin-logo {
  width: 40px;
  height: 40px;
}
#cart-logo {
  width: 40px;
  height: 40px;
}
